.card-text{
  padding-top: 15px;
  padding-bottom: 20px;
}
.box{
  margin-top: 2px;
}
.completed-box{
  background-color: #5a657f62;
}

.incompleted-box{
  background-color: white;
}

.trash-icon{
  margin-top: 4px;
  color: red;
  position: absolute;
  right: 15px;
  bottom: 20px;
}

.check-icon{
  color: blue;
  position: absolute;
  left: 15px;
  bottom: 20px;
 }

.undo-icon{
  color: gray;
  position: absolute;
  left: 15px;
  bottom: 20px;
}

.text-align{
  text-align: center;
}

.title-container{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 0.5px solid gray;
}

.completed{
  margin-top: 40px;
}